.body{
    background-color: #183153;
}
.container{
    background: url("../img/img2.jpg ") center/cover  no-repeat fixed ;
}
p{
    color: darkgrey;
}
i{
    color: #183153;
    font-size: 50px;
    padding: 2.5px;
}
.iframe{
    text-align: center;
}
h1{
    color: #183153;
    font-size: 55px;
    text-align: center;
    margin: 20px;
    
}